{% load static %}
<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2" style="height: 100px">
                    <img src="{% if question.author.profile.avatar %}{{ question.author.profile.avatar.url }}{% else %}{% static 'img/default-avatar.jpg' %}{% endif %}" alt="Avatar" class="img-fluid">
                         alt="Avatar" class="img-fluid">
                </div>
                <input class="form-control" type="text" value="{{ question.likes }}" placeholder="Likes" 
                       aria-label="likes count">
            </div>
            <div class="col-9">
                <h5 class="card-title">
                    <a href="{% url 'one_question' question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">{{ question.content }}</p>
                <div class="d-flex gap-5">
                    <a href="{% url 'one_question' question.id %}" class="card-link">Answer ({{ question.answer_set.count }})</a>
                    <div>
                        Tags:
                        {% for tag in question.tags.all %}
                            <a href="#" class="card-link">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
