<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <style>
        .btn-primary{
            background-color: green;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand" href="#">AskPupkin</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><a href="http://127.0.0.1:3000/templates/Askpage.html#">ASK!</a></button>
                </form>
            
                <div class="d-flex gap-1">
                   <div class="align-items-center">
                        <a href="http://127.0.0.1:3000/templates/Login.html?">log in</a>
                        <a href="http://127.0.0.1:3000/templates/registrationpage.html">register</a>
                    </div>
                </div>
            </div>
        </div>
      </nav>
      <main class="container mt-3">
        <div class="d-flex gap-2 align-items-center">
            <h1>New Questions</h1>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title of question">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Text</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Text of your question" style="height: 300px;"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tags</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tags of your question">
                  </div>
                  <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button">Ask</button>
                  </div>
            </div>
            <div class="col">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div>
                        <span class="badge rounded-pill text-bg-primary">Perl</span>
                        <span class="badge rounded-pill text-bg-secondary">Python</span>
                        <span class="badge rounded-pill text-bg-success">TechnoPark</span>
                        <span class="badge rounded-pill text-bg-danger">MySQL</span>
                        <span class="badge rounded-pill text-bg-warning">django</span>
                        <span class="badge rounded-pill text-bg-info">Mail.Ru</span>
                        <span class="badge rounded-pill text-bg-light">Voloshin</span>
                        <span class="badge rounded-pill text-bg-dark">Firefox</span>
                    </div>
                </section>
                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Mr.Freeman</a></li>
                            <li class="list-group-item"><a href="#">Dr.House</a></li>
                            <li class="list-group-item"><a href="#">Bender</a></li>
                            <li class="list-group-item"><a href="#">Queen Victoria</a></li>
                            <li class="list-group-item"><a href="#">V.Pupkin</a></li>
                          </ul>
                    </div>
                </section>
            </div>
        </div>
      </main>
      <script src="../static/css/js/bootstrap.min.js"></script>
</body>
</html>